# Ignore raw datasets
data/raw/*.csv

# Ignore processed datasets
data/processed/*.csv

# Ignore models
models/*.joblib

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/
.twitter/
/reports
